<!DOCTYPE html>
       <html lan="en">
       <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       </head>
         <body>
            <div class="container">
               <div class="panel panel-primary">
                  <div class="panel-heading"><h1>Stats Dashboard</h1></div>
                  <div class="panel-body"><h2>Total bytes transferred: <span class='text-success'>{{ totalbytes }}</h2></div>
                  <div class="panel-body"><h2>Uptime: <span class='text-success'>{{ uptime }}</h2></div>
               </div>
             </div>
         </body>
       </html>
